/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Typography
 */
@font-face {
  font-family: 'thaisans_semibold';
  src: url('/asset/fonts/thaisansneue-semibold-webfont.eot');
  src: url('/asset/fonts/thaisansneue-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/asset/fonts/thaisansneue-semibold-webfont.woff') format('woff'),
       url('/asset/fonts/thaisansneue-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thaisanslite';
  src: url('/asset/fonts/thaisanslite.eot');
  src: url('/asset/fonts/thaisanslite.eot?#iefix') format('embedded-opentype'),
       url('/asset/fonts/thaisanslite.woff') format('woff'),
       url('/asset/fonts/thaisanslite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

html,body {
  padding:0px;
  margin:0px;
  width: 100%;
  height:100%;
}
/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using.
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import './header.less';
